.error-message{
  color: brown;
  font-size: 10pt;
}

.array-widget-item{
  background-color: aliceblue;
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
}

.array-container{
  padding-left: 0px;
  padding-right: 0px;
}


.CheckboxWidget{
  margin-top: 38px;
}

.ObjectsPicsImage {
  width: 150px;
}